{{ define "main" }}

<div class="page-wrapper page-wrapper--narrow">

    <!-- Title and summary -->
    <div class="pt-5 pb-3">
        <h1 class="display-2 mb-4">{{ .Title }} <span class="section-count">({{ len .RegularPages }})</span></h1>
        <p class="bio fs-4 body-text">{{ .Summary }}</p>
    </div>

    <!-- Filter Buttons -->
    <div class="mb-4">

        <!-- Multiple checkboxes option -->
        <div class="btn-toolbar mb-2 bio" role="toolbar" aria-label="Toolbar with button groups">
            <div id="filters" class="button-group">
                <i class="fas fa-filter"></i>
                {{ range $name, $taxonomy := .Site.Taxonomies.project_tags }}
                {{ $btnid := $name | printf ".js-iso-%s"}}
                <input type="checkbox" class="btn-check" id="{{ $btnid }}" autocomplete="off" data-filter="{{ $btnid }}">
                <label class="button" for="{{ $btnid }}">{{ $name }}</label>  
                {{ end }}
            </div>
        </div>
    </div>

    <!-- Project Cards -->
    <div class="row row-cols-2 g-2 mb-5" id="blogposts">
        {{ range .Pages.ByPublishDate.Reverse }}
        {{ partial "card_project.html" . }}
        {{ end }}
    </div>

</div>

{{ end }}