{{ define "main" }}

<div class="page-wrapper page-wrapper--narrow">

    <!-- Title and summary -->
    <div class="py-5">
        <h1 class="display-2 mb-4">{{ .Title }}</h1>
        <p class="bio fs-4 serif">{{ .Summary }}</p>
    </div>

    <!-- Filter Buttons -->
    <div class="mb-5">

        <!-- Multiple checkboxes option -->
        <div class="btn-toolbar mb-2 bio" role="toolbar" aria-label="Toolbar with button groups">
            <i class="fas fa-filter"></i>
            <div id="filters" class="button-group">
                {{ range $name, $taxonomy := .Site.Taxonomies.project_tags }}
                {{ $btnid := $name | printf ".js-iso-%s"}}
                <input type="checkbox" class="btn-check" id="{{ $btnid }}" autocomplete="off" data-filter="{{ $btnid }}">
                <label class="button" for="{{ $btnid }}">{{ $name }}</label>  
                {{ end }}
            </div>
        </div>
    </div>

    <!-- Project Cards -->
    <div class="row row-cols-1 row-cols-2at375 g-4" id="blogposts">
        {{ range .Pages.ByPublishDate.Reverse }}
        {{ partial "card_project.html" . }}
        {{ end }}
    </div>

</div>

{{ end }}