{{ define "main" }}

<div class="page-wrapper page-wrapper--narrow">
    <div class="pt-5 pb-3">
        <h1 class="display-2 mb-4">{{ .Title }} <span class="section-count">({{ len .RegularPages }})</span></h1>
        <p class="bio fs-4 body-text">{{ .Summary }}</p>
    </div>

    {{ range .Pages.ByPublishDate.Reverse }}
    <p>
        <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        {{ partial "metadata.html" . }}
        <a class="summary" href="{{ .RelPermalink }}">
            <p>{{ .Summary }}</p>
        </a>
    </p>
    {{ end }}
</div>

{{ end }}