/* Custom styles go here */

/* Linktree page styles */
.linktree-icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  filter: invert(var(--invert));
}

.linktree-ping {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--blue);
  border-radius: 50%;
  margin-left: 0.3rem;
  vertical-align: middle;
}