{{- $sections := split (strings.TrimPrefix "/" (strings.TrimSuffix "/" .RelPermalink)) "/" -}}
{{- $site := .Site -}}
<nav aria-label="breadcrumb" style="font-family: var(--title); font-weight: 300; font-size: 1rem; margin-bottom: 0; margin-top: 0.25rem;">
    <ol class="breadcrumb text-secondary" style="margin-bottom: 0;">
        <li class="breadcrumb-item">
            <a href="{{ $site.Home.RelPermalink }}" class="text-secondary">Home</a>
        </li>
        {{- range $index, $section := $sections -}}
            {{- if lt $index (sub (len $sections) 1) -}}
                {{- $sectionPath := delimit (first (add $index 1) $sections) "/" -}}
                {{- $sectionURL := printf "/%s/" $sectionPath -}}
                {{- $menuTitle := $section -}}
                {{- range $site.Menus.main -}}
                    {{- if eq .URL $sectionURL -}}
                        {{- $menuTitle = .Name -}}
                    {{- end -}}
                {{- end -}}
                <li class="breadcrumb-item">
                    <a href="/{{ $sectionPath }}/" class="text-secondary">{{ $menuTitle }}/</a>
                </li>
            {{- end -}}
        {{- end -}}
    </ol>
</nav>
