{{ .Scratch.Set "garden_tags_list" ""}}
{{ range .Params.garden_tags }}
    {{ $.Scratch.Add "garden_tags_list" ( . | printf " js-iso-%s") }}
{{ end }}
<div class='col {{ $.Scratch.Get "garden_tags_list" }}'>
    <div class="card h-100 top-highlight">
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-8">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-text">{{ .Summary }}</p>
                </div>
                <div class="col-4 ">
                    <p class="card-right">
                        <span class="card-date">{{ .Lastmod.Format "Jan 2, 2006" }} </span>
                        <br/>{{ partial "status.html" . }}
                    </p>
                </div>
            </div>
            <a href="{{ .Permalink }}" class="stretched-link"></a>
        </div>
    </div>
</div>
{{ .Scratch.Delete "garden_tags_list" }}