<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            {{ if .Site.Params.Initials }}
            <b style="font-weight: 800;">{{ .Site.Params.Initials }}</b>
            {{ else }}
            <b style="font-weight: 800;">{{ .Site.Params.Name }}</b>
            {{ end }}
        </a>
        <ul class="navbar-nav ms-auto flex-row flex-wrap">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li class='nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
                <a class="nav-link" href="{{ .URL }}"> {{ .Name }}</a>
            </li>
        {{ end }}
        <li class="nav-item">
            <a class="nav-link fas fa-moon" id="dark-mode-toggle"></a>
        </li>
        </ul>
    </div>
</nav>