<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            {{- with resources.Get "favicon.svg" -}}
            <img src="{{ .RelPermalink }}" alt="{{ site.Title }}" height="28">
            {{- else -}}
            {{- with resources.Get "favicon.png" -}}
            <img src="{{ .RelPermalink }}" alt="{{ site.Title }}" height="28">
            {{- else -}}
            {{ if $.Site.Params.Initials }}
            <b style="font-weight: 800;">{{ $.Site.Params.Initials }}</b>
            {{ else }}
            <b style="font-weight: 800;">{{ $.Site.Params.Name }}</b>
            {{ end }}
            {{- end -}}
            {{- end -}}
        </a>
        <ul class="navbar-nav ms-auto flex-row flex-wrap">
        {{- $currentURL := .RelPermalink -}}
        {{ range .Site.Menus.main -}}
            {{- $menuURL := .URL -}}
            {{- $isActive := or (eq $currentURL $menuURL) (strings.HasPrefix $currentURL $menuURL) -}}
            <li class='nav-item {{ if $isActive }}active{{ end }}'>
                <a class="nav-link" href="{{ .URL }}"> {{ .Name }}</a>
            </li>
        {{ end }}
        <li class="nav-item">
            <a class="nav-link fas fa-moon" id="dark-mode-toggle"></a>
        </li>
        </ul>
    </div>
</nav>