<!-- Now -->
<div class="mb-3">
	{{ with .Site.GetPage "section" "now" }}
	<div class="pb-4">
		<a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Title }}</a>
	</div>
	{{ end }}
	<div class="mb-3">
		{{ range ( where site.RegularPages "Section" "now" | first 1 ) }}
		{{ partial "home_now.html" . }}
		{{ end }}
	</div>
	{{ with .Site.GetPage "section" "now" }}
	<div class="d-flex flex-row-reverse">
		<a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">See all nows</a>
	</div>
	{{ end }}
</div>
