<!-- Projects -->
<section class="home-section">
	{{ with .ctx.Site.GetPage "section" "projects" }}
	<div class="pb-3">
		<a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Title }} <span class="section-count">({{ len .RegularPages }})</span></a>
	</div>
	{{ if .Summary }}
	<p class="subheading">{{ .Summary }}</p>
	{{ end }}
	{{ end }}
	<div class="row row-cols-2 g-2">
		{{ range ( where .ctx.Site.RegularPages "Section" "projects" | first .limit ) }}
		{{ partial "home_project.html" . }}
		{{ end }}
	</div>
</section>
