<!-- Library -->
<section class="home-section">
	{{ with .Site.GetPage "section" "library" }}
	<div class="pb-3">
		<a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Title }} <span class="section-count">({{ len .RegularPages }})</span></a>
	</div>
	{{ if .Summary }} <p class="subheading">{{ .Summary }}</p> {{ end }}
	{{ end }}
	<div class="row row-cols-1 row-cols-2at375 g-4">
		{{ range ( where .ctx.Site.RegularPages "Section" "library" | first .limit ) }}
		<div class="col">
			<div class="card">
				{{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
				{{ $img = $img.Fit "350x500" }}
				{{ with $img }}
				<img src="{{ .Permalink }}" alt="{{ $.Title }}" class="card-img-top">
				{{ end }}
				<div class="card-body">
					<h5 class="card-title">{{ .Title }}</h5>
					<p class="card-text">
						<figcaption class="blockquote-footer">{{ .Params.Author}}</figcaption>
					</p>
					<a href="{{ .Permalink }}" class="stretched-link"></a>
				</div>
			</div>
		</div>
		{{ end }}
	</div>
</section>
