<!-- Garden / Blog -->
<div class="row my-3">
	<div class="col-12">
		{{ with .Site.GetPage "section" "garden" }}
		<div class="pb-4">
			<a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Title }}</a>
		</div>
		{{ if .Summary }} <p class="subheading">{{ .Summary }}</p> {{ end }}
		{{ end }}
		<div class="row row-cols-1 g-4 mb-3">
			{{ range ( where site.RegularPages "Section" "garden" | first 6 ) }}
			{{ partial "home_garden.html" . }}
			{{ end }}
		</div>
		{{ with .Site.GetPage "section" "garden" }}
		<div class="d-flex flex-row-reverse">
			<a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">See all articles</a>
		</div>
		{{ end }}
	</div>
</div>
