<!-- Garden / Blog -->
<section class="home-section">
	{{ with .ctx.Site.GetPage "section" "garden" }}
	<div class="pb-3">
		<a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Title }} <span class="section-count">({{ len .RegularPages }})</span></a>
	</div>
	{{ if .Summary }} <p class="subheading">{{ .Summary }}</p> {{ end }}
	{{ end }}
	<div class="row row-cols-1 g-4">
		{{ range ( where .ctx.Site.RegularPages "Section" "garden" | first .limit ) }}
		{{ partial "home_garden.html" . }}
		{{ end }}
	</div>
</section>
