{{ define "main" }}

<div class="page-wrapper page-wrapper--narrow">

<div class="home-hero-title">
       	<h1 class="name display-1"><b>{{ .Site.Params.Name }}</b></h1>
</div>
<div class="home-hero-bio">
        <h2 class="bio lh-base fs-1 body-text">{{ .Site.Params.Description }}</h2>
</div>

<div class="py-3">
	{{- $defaultSections := slice
		(dict "name" "now" "weight" 1 "enable" true "limit" 1)
		(dict "name" "garden" "weight" 2 "enable" true "limit" 6)
		(dict "name" "projects" "weight" 3 "enable" true "limit" 6)
		(dict "name" "library" "weight" 4 "enable" true "limit" 3)
	-}}
	{{- $sections := default $defaultSections .Site.Params.sections -}}
	{{ range sort $sections "weight" }}
		{{ if .enable }}
			{{ partial (printf "home_section_%s.html" .name) (dict "ctx" $ "limit" .limit) }}
		{{ end }}
	{{ end }}
</div>
</div>
{{ end }}