{{ define "main" }}

<!-- Title and summary -->
<div class="container">
    <div class="py-5 rounded-3">
        <div class="container-fluid py-2">
            <h1 class="display-2 mb-4">{{ .Title }}</h1>
            <p class="bio col-md-8 fs-4 serif">{{ .Summary }}</p>
        </div>
    </div>
</div>

<!-- Timeline -->
<div class="container mb-5">
    <div class="now-timeline">
        {{ range .Pages.ByDate.Reverse }}
        <div class="now-timeline-item">
            <div class="now-timeline-dot"></div>
            <div class="now-timeline-content card top-highlight">
                <div class="card-body">
                    <div class="row justify-content-between align-items-start">
                        <div class="col">
                            <span class="card-date">{{ .Date.Format "Jan 2, 2006" }}</span>
                            <h5 class="card-title mt-2">{{ .Title }}</h5>
                            <div class="serif now-timeline-text">{{ .Content | safeHTML }}</div>
                        </div>
                    </div>
                    {{ with .Params.garden_tags }}
                    <div class="mt-3">
                        {{ range . }}
                        <span class="badge tag-badge">{{ . }}</span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}
